In [1]:
import tushare as ts
import pandas as pd
from pandas import DataFrame
from pandas import concat
from pandas import merge
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os, sys
import time

# 1、读入数仓数据

In [2]:
# 读取year
def read_newyear():
    df = pd.read_csv('..\\JN_DataWarehouse\\stock_analysis\\TuShare\\new_year.csv' ,index_col=False)
    
    del df['Unnamed: 0']
    return df

In [3]:
%%time
df_stock_all = read_newyear()
df_stock_all.head()

Wall time: 9.4 s

In [4]:
df_stock_all

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,002007.SZ,20110104,48.51,48.69,47.42,48.13,48.39,-0.26,-0.5400,50208.66,2.406247e+05
1,000088.SZ,20110104,6.15,6.18,6.09,6.17,6.13,0.04,0.6500,22159.02,1.362355e+04
2,000068.SZ,20110104,6.01,6.30,5.94,6.30,6.00,0.30,5.0000,109392.70,6.668156e+04
3,600167.SH,20110104,9.62,9.78,9.58,9.74,9.63,0.11,1.1400,8403.49,8.151765e+03
4,002418.SZ,20110104,22.05,22.64,22.01,22.58,22.00,0.58,2.6400,12609.19,2.826151e+04
...,...,...,...,...,...,...,...,...,...,...,...
6415362,688589.SH,20200805,71.58,73.29,68.18,70.83,66.65,4.18,6.2716,78499.06,5.569587e+05
6415363,688598.SH,20200805,101.50,106.58,99.02,105.00,100.20,4.80,4.7904,18334.79,1.900575e+05
6415364,688599.SH,20200805,17.24,17.24,16.87,17.15,17.18,-0.03,-0.1746,185949.80,3.165506e+05
6415365,688600.SH,20200805,28.31,28.64,27.85,28.01,28.30,-0.29,-1.0247,14063.77,3.947903e+04
6415366,688981.SH,20200805,87.00,87.00,82.58,83.00,81.08,1.92,2.3680,1172417.44,9.904636e+06

# 2、 tc_code & trade_date 过滤

In [5]:
# ts_code 过滤
df = df_stock_all.query("ts_code in ('002007.SZ','002572.SZ') | ts_code.str.contains('601318')")

In [10]:
# ts_code 过滤
df1 = df.query("trade_date > 20110101 & trade_date < 20111231")
df1

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,002007.SZ,20110104,48.51,48.69,47.42,48.13,48.39,-0.26,-0.54,50208.66,2.406247e+05
1877,601318.SH,20110104,56.85,57.60,56.50,56.91,56.16,0.75,1.34,245626.82,1.400499e+06
3425,002007.SZ,20110105,47.98,47.98,46.49,46.70,48.13,-1.43,-2.97,75213.42,3.549568e+05
3498,601318.SH,20110105,56.59,56.80,54.80,54.86,56.91,-2.05,-3.60,427554.25,2.368306e+06
4463,002007.SZ,20110106,46.55,46.87,45.30,45.59,46.70,-1.11,-2.38,62461.83,2.865304e+05
...,...,...,...,...,...,...,...,...,...,...,...
191741,002007.SZ,20110527,34.95,35.49,34.00,34.08,35.11,-1.03,-2.93,31485.19,1.083434e+05
191875,601318.SH,20110527,47.72,48.41,47.70,47.97,47.72,0.25,0.52,157783.18,7.575493e+05
192719,601318.SH,20110530,47.88,48.31,47.74,47.98,47.97,0.01,0.02,133058.60,6.395929e+05
193520,002572.SZ,20110530,72.00,72.65,71.04,72.12,72.40,-0.28,-0.39,530.88,3.835100e+03
194619,002007.SZ,20110530,34.20,34.30,32.64,32.67,34.08,-1.41,-4.14,28474.36,9.539460e+04