In [1]:
import tushare as ts
import pandas as pd
from pandas import DataFrame
from pandas import concat
from pandas import merge
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os, sys
import time

# 1、读入数仓数据

In [2]:
# 读取year
def read_newyear():
    df = pd.read_csv('..\\JN_DataWarehouse\\stock_analysis\\TuShare\\new_year.csv' ,index_col=False)
    
    del df['Unnamed: 0']
    return df

In [3]:
%%time
df_stock_all = read_newyear()
df_stock_all.head()

Wall time: 10.5 s

In [4]:
df_stock_all

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,002007.SZ,20110104,48.51,48.69,47.42,48.13,48.39,-0.26,-0.5400,50208.66,240624.7194
1,000088.SZ,20110104,6.15,6.18,6.09,6.17,6.13,0.04,0.6500,22159.02,13623.5458
2,000068.SZ,20110104,6.01,6.30,5.94,6.30,6.00,0.30,5.0000,109392.70,66681.5565
3,600167.SH,20110104,9.62,9.78,9.58,9.74,9.63,0.11,1.1400,8403.49,8151.7650
4,002418.SZ,20110104,22.05,22.64,22.01,22.58,22.00,0.58,2.6400,12609.19,28261.5130
...,...,...,...,...,...,...,...,...,...,...,...
6442705,300659.SZ,20200814,54.00,55.60,53.48,55.09,53.80,1.29,2.3978,15648.77,84815.1480
6442706,002852.SZ,20200814,21.34,21.58,20.40,20.99,21.34,-0.35,-1.6401,59896.76,125040.9040
6442707,603960.SH,20200814,47.25,47.25,45.24,46.70,46.31,0.39,0.8422,21169.79,97441.0780
6442708,603896.SH,20200814,38.56,39.68,38.38,39.38,38.57,0.81,2.1001,15642.00,61478.9360
6442709,603138.SH,20200814,21.17,21.59,20.96,21.47,21.17,0.30,1.4171,28520.79,60564.6270

# 2、 tc_code & trade_date 过滤

In [5]:
# ts_code 过滤
df = df_stock_all.query("ts_code in ('601318.SH','601318.SH') | ts_code.str.contains('601318')")

In [6]:
# trade_date 过滤
df = df.query("trade_date > 20200101 & trade_date < 20201231")
df

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
5874274,601318.SH,20200102,85.90,86.79,85.88,86.12,85.46,0.66,0.7723,778252.07,6712531.637
5877295,601318.SH,20200103,86.81,86.88,85.90,86.20,86.12,0.08,0.0929,594980.01,5137311.989
5879817,601318.SH,20200106,85.92,86.87,85.50,85.60,86.20,-0.60,-0.6961,636448.04,5487967.678
5884180,601318.SH,20200107,86.01,86.46,85.67,86.15,85.60,0.55,0.6425,452188.32,3886450.097
5888774,601318.SH,20200108,85.98,85.98,84.50,85.00,86.15,-1.15,-1.3349,628053.11,5347387.392
...,...,...,...,...,...,...,...,...,...,...,...
6426284,601318.SH,20200810,76.02,77.69,75.82,77.01,76.33,0.68,0.8909,700073.23,5396774.601
6430187,601318.SH,20200811,77.45,78.68,76.51,76.77,77.01,-0.24,-0.3116,775309.00,6036019.284
6434128,601318.SH,20200812,76.80,77.46,76.40,77.16,76.77,0.39,0.5080,586012.65,4513022.466
6436815,601318.SH,20200813,77.50,77.60,76.51,76.60,77.16,-0.56,-0.7258,421355.47,3236112.230
6440990,601318.SH,20200814,76.47,78.49,76.34,78.19,76.60,1.59,2.0757,632473.71,4893057.493

# 3、数值分析

In [9]:
df.describe()

,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
count,1.500000e+02,150.000000,150.000000,150.000000,150.000000,150.00000,150.000000,150.000000,1.500000e+02,1.500000e+02
mean,2.020045e+07,76.544533,77.385467,75.813067,76.548933,76.58880,-0.039867,-0.030423,7.167188e+05,5.559172e+06
std,2.149297e+02,5.379589,5.409680,5.264247,5.288488,5.34322,1.435063,1.852712,3.802378e+05,3.161708e+06
min,2.020010e+07,66.000000,67.500000,66.000000,66.760000,66.76000,-5.780000,-6.923000,2.684412e+05,1.901687e+06
25%,2.020030e+07,72.155000,72.985000,71.550000,72.207500,72.17000,-0.827500,-1.078000,4.583732e+05,3.473545e+06
50%,2.020043e+07,76.085000,77.235000,75.725000,76.355000,76.35500,-0.045000,-0.056150,6.362189e+05,4.893292e+06
75%,2.020062e+07,80.590000,81.427500,80.065000,80.685000,80.75000,0.722500,0.990375,8.544810e+05,6.671344e+06
max,2.020081e+07,88.300000,88.700000,87.350000,87.600000,87.60000,6.160000,7.901500,2.806695e+06,2.310630e+07

In [12]:
print(np.pi)
print(np.sin(30*np.pi/180))

3.141592653589793
0.49999999999999994

AttributeError: 'str' object has no attribute 'map'