In [10]:
import oracle_class
import time

In [11]:
start = time.time()

In [12]:
bpm_Op = oracle_class.OpOracle('172.30.10.180', '1521', 'bpmtest', 'ecology', 'bpmtest01')  # 实例化
print(bpm_Op.query('select * from hrmresource'))
print('ok!')
#print(bpm_Op.execute('select * from hrmdepartment'))
#print('ok!!')
#bpm_Op.__del__

        ID          LOGINID                          PASSWORD LASTNAME SEX  \
0     1902        zhiyu.yan  C4CA4238A0B923820DCC509A6F75849B      闫志宇   0
1     1944        hongyu.li  C4CA4238A0B923820DCC509A6F75849B      李宏宇   0
2     1988             None  C4CA4238A0B923820DCC509A6F75849B       彭刚   0
3     2037         yan.chen  C4CA4238A0B923820DCC509A6F75849B       陈燕   1
4     2084             None  C4CA4238A0B923820DCC509A6F75849B      宋鸣浩   0
5     2131       gelan.shao  C4CA4238A0B923820DCC509A6F75849B      邵戈兰   1
6     2179         yalan.ye  C4CA4238A0B923820DCC509A6F75849B      叶雅兰   1
7     2228     whjinfeng.hu  C4CA4238A0B923820DCC509A6F75849B      胡金凤   1
8     2277        karl.chai  C4CA4238A0B923820DCC509A6F75849B       柴轶   0
9     2371             None  C4CA4238A0B923820DCC509A6F75849B      徐浩东   0
10    2416             None  C4CA4238A0B923820DCC509A6F75849B      张小许   0
11    2491             None  C4CA4238A0B923820DCC509A6F75849B       白山   0
12    2540        hao.zhang  C4CA4238A0B923820DCC509A6F75849B       张浩   0
13    2589             None  C4CA4238A0B923820DCC509A6F75849B      历航宇   0
14    2637             None  C4CA4238A0B923820DCC509A6F75849B      任天天   1
15    2686      xueling.liu  C4CA4238A0B923820DCC509A6F75849B      刘雪翎   1
16    2735       yongxin.li  C4CA4238A0B923820DCC509A6F75849B      李永新   0
17    2783      minping.lei  C4CA4238A0B923820DCC509A6F75849B      雷敏平   0
18    2832        weiguo.li  C4CA4238A0B923820DCC509A6F75849B      李卫国   0
19    2881             None  C4CA4238A0B923820DCC509A6F75849B       孙笑   1
20    2930   christy.ouyang  C4CA4238A0B923820DCC509A6F75849B     欧阳瑞仪   1
21    2979             None  C4CA4238A0B923820DCC509A6F75849B      侯成林   0
22    3014       ye.zhifeng  C4CA4238A0B923820DCC509A6F75849B      叶志锋   0
23    3061          minx.xu  C4CA4238A0B923820DCC509A6F75849B       许敏   1
24    3101             None  C4CA4238A0B923820DCC509A6F75849B      汤超文   0
25    3150             None  C4CA4238A0B923820DCC509A6F75849B      李小敏   1
26    3199      fenglu.wang  C4CA4238A0B923820DCC509A6F75849B      王俸潞   0
27    3248             None  C4CA4238A0B923820DCC509A6F75849B      麻云鹏   0
28    3293      xiaomei.zhu  C4CA4238A0B923820DCC509A6F75849B      朱小梅   1
29    3342    haiping.zhang  C4CA4238A0B923820DCC509A6F75849B      张海平   0
...    ...              ...                               ...      ...  ..
4262  5953      guochen.hua  C4CA4238A0B923820DCC509A6F75849B      华国臣   0
4263  5954     fengkai.lang  C4CA4238A0B923820DCC509A6F75849B      郎丰凯   0
4264  5955      lihong.wang  C4CA4238A0B923820DCC509A6F75849B      王丽红   1
4265  5956         siqi.han  C4CA4238A0B923820DCC509A6F75849B      韩思奇   1
4266  5957         yuan.luo  C4CA4238A0B923820DCC509A6F75849B       罗媛   1
4267  5958         hao.wang  C4CA4238A0B923820DCC509A6F75849B       汪浩   0
4268  5959        jing.tian  C4CA4238A0B923820DCC509A6F75849B       田静   1
4269  5960        aining.li  C4CA4238A0B923820DCC509A6F75849B      李爱宁   0
4270  5961           rui.li  C4CA4238A0B923820DCC509A6F75849B       李蕊   1
4271  5962    xianhui.zhang  C4CA4238A0B923820DCC509A6F75849B      张现辉   0
4272  5963             None  C4CA4238A0B923820DCC509A6F75849B       骆凯   0
4273  5964         ying.liu  C4CA4238A0B923820DCC509A6F75849B       刘影   0
4274  5965             None  C4CA4238A0B923820DCC509A6F75849B       徐涛   0
4275  5966       ronghua.gu  C4CA4238A0B923820DCC509A6F75849B      顾荣华   0
4276  5967      qingyun.hou  C4CA4238A0B923820DCC509A6F75849B      侯庆运   0
4277  5968       keren.qian  C4CA4238A0B923820DCC509A6F75849B      钱可任   0
4278  5969       shuang.hao  C4CA4238A0B923820DCC509A6F75849B       郝爽   0
4279  5970        yina.zhao  C4CA4238A0B923820DCC509A6F75849B      赵宜娜   0
4280  5971     xiaoqin.yang  C4CA4238A0B923820DCC509A6F75849B      杨晓琴   0
4281  5972       huan.liang  C4CA4238A0B923820DCC509A6F75849B       梁桓   0
4282  5973       shijie.bao  C4CA4238A0B923820DCC509A6F75849B      包世婕   0
4283  6556  zhuocheng.zhang  C4CA4238A0B923820DCC509A6F75849B      张倬铖   0
4284  6603         chao.lei  C4CA4238A0B923820DCC509A6F75849B       雷超   0
4285  6606       jianing.wu  C4CA4238A0B923820DCC509A6F75849B      吴家宁   0
4286  6065          jun.wu3  C4CA4238A0B923820DCC509A6F75849B       吴军   0
4287  6490       fabing.jia  C4CA4238A0B923820DCC509A6F75849B      贾发兵   0
4288  6604         shan.yin  C4CA4238A0B923820DCC509A6F75849B       尹珊   1
4289  6605          kai.yao  C4CA4238A0B923820DCC509A6F75849B       姚凯   0
4290  6608       dongxue.li  C4CA4238A0B923820DCC509A6F75849B      李冬雪   1
4291  6610    yueqiang.wang  C4CA4238A0B923820DCC509A6F75849B      王跃强   0

        BIRTHDAY NATIONALITY  SYSTEMLANGUAGE MARITALSTATUS TELEPHONE  ...    \
0     1983-01-30        None               7          None      None  ...
1     1988-06-04        None               7          None      None  ...
2     1972-11-02        None               7          None      None  ...
3     1978-03-29        None               7          None      None  ...
4     1980-10-21        None               7          None      None  ...
5     1983-08-09        None               7          None      None  ...
6     1985-02-05        None               7          None      None  ...
7     1985-08-05        None               7          None      None  ...
8     1972-02-28        None               7          None      None  ...
9     1994-01-19        None               7          None      None  ...
10    1986-11-21        None               7          None      None  ...
11    1987-08-25        None               7          None      None  ...
12    1982-03-04        None               7          None      None  ...
13    1982-06-10        None               7          None      None  ...
14    1984-08-23        None               7          None      None  ...
15    1986-12-18        None               7          None      None  ...
16    1978-10-06        None               7          None      None  ...
17    1988-02-29        None               7          None      None  ...
18    1984-12-01        None               7          None      None  ...
19    1993-05-08        None               7          None      None  ...
20    1986-10-13        None               7          None      None  ...
21    1987-10-16        None               7          None      None  ...
22    1981-12-17        None               7          None      None  ...
23    1975-06-14        None               7          None      None  ...
24    1987-09-15        None               7          None      None  ...
25    1980-08-10        None               7          None      None  ...
26    1988-12-29        None               7          None      None  ...
27    1979-11-05        None               7          None      None  ...
28    1980-04-22        None               7          None      None  ...
29    1982-04-08        None               7          None      None  ...
...          ...         ...             ...           ...       ...  ...
4262  1982-02-26        None               7             0      None  ...
4263  1989-12-24        None               7             0      None  ...
4264  1976-10-10        None               7             1      None  ...
4265  1990-07-27        None               7             0      None  ...
4266  1986-10-05        None               7             0      None  ...
4267  1970-11-30        None               7             0      None  ...
4268  1976-09-02        None               7             0      None  ...
4269  1981-08-07        None               7             0      None  ...
4270  1995-10-04        None               7             0      None  ...
4271  1987-11-06        None               7             1      None  ...
4272  1988-12-18        None               7             0      None  ...
4273  1995-11-29        None               7             0      None  ...
4274  1982-08-19        None               7             0      None  ...
4275  1982-08-12        None               7             0      None  ...
4276  1981-03-01        None               7             0      None  ...
4277  1977-01-02        None               7             0      None  ...
4278  1994-09-07        None               7             0      None  ...
4279  1992-01-05        None               7             0      None  ...
4280        None        None               7             0      None  ...
4281  1979-05-01        None               7             0      None  ...
4282  1991-12-05        None               7             0      None  ...
4283  1995-11-07        None               7          None      None  ...
4284  1993-10-27        None               7          None      None  ...
4285        None        None               7          None      None  ...
4286  1981-09-02        None               7          None      None  ...
4287        None        None               7          None      None  ...
4288        None        None               7          None      None  ...
4289        None        None               7          None      None  ...
4290        None        None               7          None      None  ...
4291        None        None               7          None      None  ...

      ADBM MOBILESHOWTYPE USBSTATE  TOTALSPACE OCCUPYSPACE  \
0     None            NaN     None       100.0         0.0
1     None            NaN     None       100.0         0.0
2     None            NaN     None       100.0         0.0
3     None            NaN     None       100.0         0.0
4     None            NaN     None       100.0         0.0
5     None            NaN     None       100.0         0.0
6     None            NaN     None       100.0         0.0
7     None            NaN     None       100.0         0.0
8     None            NaN     None       100.0         0.0
9     None            NaN     None       100.0         0.0
10    None            NaN     None       100.0         0.0
11    None            NaN     None       100.0         0.0
12    None            NaN     None       100.0         0.0
13    None            NaN     None       100.0         0.0
14    None            NaN     None       100.0         0.0
15    None            NaN     None       100.0         0.0
16    None            NaN     None       100.0         0.0
17    None            NaN     None       100.0         0.0
18    None            NaN     None       100.0         0.0
19    None            NaN     None       100.0         0.0
20    None            NaN     None       100.0         0.0
21    None            NaN     None       100.0         0.0
22    None            NaN     None       100.0         0.0
23    None            NaN     None       100.0         0.0
24    None            NaN     None       100.0         0.0
25    None            NaN     None       100.0         0.0
26    None            NaN     None       100.0         0.0
27    None            NaN     None       100.0         0.0
28    None            NaN     None       100.0         0.0
29    None            NaN     None       100.0         0.0
...    ...            ...      ...         ...         ...
4262  None            1.0     None       100.0         0.0
4263  None            1.0     None       100.0         0.0
4264  None            1.0     None       100.0         0.0
4265  None            1.0     None       100.0         0.0
4266  None            1.0     None       100.0         0.0
4267  None            1.0     None       100.0         0.0
4268  None            1.0     None       100.0         0.0
4269  None            1.0     None       100.0         0.0
4270  None            1.0     None       100.0         0.0
4271  None            1.0     None       100.0         0.0
4272  None            1.0     None       100.0         0.0
4273  None            1.0     None       100.0         0.0
4274  None            1.0     None       100.0         0.0
4275  None            1.0     None       100.0         0.0
4276  None            1.0     None       100.0         0.0
4277  None            1.0     None       100.0         0.0
4278  None            1.0     None       100.0         0.0
4279  None            1.0     None       100.0         0.0
4280  None            1.0     None       100.0         0.0
4281  None            1.0     None       100.0         0.0
4282  None            1.0     None       100.0         0.0
4283  None            1.0     None       100.0         0.0
4284  None            1.0     None       100.0         0.0
4285  None            1.0     None       100.0         0.0
4286  None            1.0     None       100.0         0.0
4287  None            1.0     None       100.0         0.0
4288  None            1.0     None       100.0         0.0
4289  None            1.0     None       100.0         0.0
4290  None            1.0     None       100.0         0.0
4291  None            1.0     None       100.0         0.0

     ECOLOGY_PINYIN_SEARCH ISADACCOUNT ACCOUNTNAME     C_OID  STATE
0                      yzy        None        None  229871.0    1.0
1                      lhy        None        None  229798.0    1.0
2                       pg        None        None  229841.0    7.0
3                       cy        None        None  229707.0    1.0
4                      smh        None        None  230179.0    7.0
5                      sgl        None        None  230227.0    1.0
6                      yyl        None        None  230025.0    1.0
7                      hjf        None        None  230074.0    1.0
8                       cy        None        None  230123.0    1.0
9                      xhd        None        None  231062.0    7.0
10                     zxx        None        None  231107.0    7.0
11                      bs        None        None  229589.0    7.0
12                      zh        None        None  229639.0    1.0
13                     lhy        None        None  229439.0    1.0
14                     rtt        None        None  229488.0    1.0
15                     lxl        None        None  229536.0    1.0
16                     lyx        None        None  230928.0    1.0
17                     lmp        None        None  230975.0    1.0
18                     lwg        None        None  230766.0    1.0
19                      sx        None        None  230814.0    1.0
20                    oyry        None        None  230863.0    1.0
21                     hcl        None        None  230912.0    7.0
22                     yzf        None        None  230679.0    1.0
23                      xm        None        None  230727.0    1.0
24                     tcw        None        None  230508.0    1.0
25                     lxm        None        None  230558.0    7.0
26                     wfl        None        None  230606.0    1.0
27                     myp        None        None  230405.0    1.0
28                     zxm        None        None  230449.0    1.0
29                     zhp        None        None  230251.0    1.0
...                    ...         ...         ...       ...    ...
4262                   hgc        None        None       NaN    NaN
4263                   lfk        None        None       NaN    NaN
4264                   wlh        None        None       NaN    NaN
4265                   hsq        None        None       NaN    NaN
4266                    ly        None        None       NaN    NaN
4267                    wh        None        None       NaN    NaN
4268                    tj        None        None       NaN    NaN
4269                   lan        None        None       NaN    NaN
4270                    lr        None        None       NaN    NaN
4271                   zxh        None        None       NaN    NaN
4272                    lk        None        None       NaN    NaN
4273                    ly        None        None       NaN    NaN
4274                    xt        None        None       NaN    NaN
4275                   grh        None        None       NaN    NaN
4276                   hqy        None        None       NaN    NaN
4277                   qkr        None        None       NaN    NaN
4278                    hs        None        None       NaN    NaN
4279                   zyn        None        None       NaN    NaN
4280                   yxq        None        None       NaN    NaN
4281                    lh        None        None       NaN    NaN
4282                   bsj        None        None       NaN    NaN
4283                   zzc        None        None       NaN    NaN
4284                    lc        None        None       NaN    NaN
4285                   wjn        None        None       NaN    NaN
4286                    wj        None        None       NaN    NaN
4287                   jfb        None        None       NaN    NaN
4288                    ys        None        None       NaN    NaN
4289                    yk        None        None       NaN    NaN
4290                   ldx        None        None       NaN    NaN
4291                   wyq        None        None       NaN    NaN

[4292 rows x 118 columns]
ok!

In [13]:
import oracle_class1
import time
import sqlalchemy

In [14]:
start = time.time()

In [15]:
bpm_Op = oracle_class1.NewOpOracle('172.30.10.180', '1521', 'bpmtest', 'ecology', 'bpmtest01')  # 实例化

In [16]:
df = bpm_Op.query('select * from hrmresource')
df.head(5)

,id,loginid,password,lastname,sex,birthday,nationality,systemlanguage,maritalstatus,telephone,...,adbm,mobileshowtype,usbstate,totalspace,occupyspace,ecology_pinyin_search,isadaccount,accountname,c_oid,state
0,1902,zhiyu.yan,C4CA4238A0B923820DCC509A6F75849B,闫志宇,0,1983-01-30,None,7,None,None,...,None,NaN,None,100.0,0.0,yzy,None,None,229871.0,1.0
1,1944,hongyu.li,C4CA4238A0B923820DCC509A6F75849B,李宏宇,0,1988-06-04,None,7,None,None,...,None,NaN,None,100.0,0.0,lhy,None,None,229798.0,1.0
2,1988,None,C4CA4238A0B923820DCC509A6F75849B,彭刚,0,1972-11-02,None,7,None,None,...,None,NaN,None,100.0,0.0,pg,None,None,229841.0,7.0
3,2037,yan.chen,C4CA4238A0B923820DCC509A6F75849B,陈燕,1,1978-03-29,None,7,None,None,...,None,NaN,None,100.0,0.0,cy,None,None,229707.0,1.0
4,2084,None,C4CA4238A0B923820DCC509A6F75849B,宋鸣浩,0,1980-10-21,None,7,None,None,...,None,NaN,None,100.0,0.0,smh,None,None,230179.0,7.0

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4292 entries, 0 to 4291
Columns: 118 entries, id to state
dtypes: float64(33), int64(10), object(75)
memory usage: 3.9+ MB

In [18]:
dtype={'ID': sqlalchemy.types.Integer(),
     'LOGINID': sqlalchemy.types.VARCHAR(length=60),
     'LASTNAME': sqlalchemy.types.VARCHAR(length=60),
     'SEX':  sqlalchemy.types.CHAR(length=1),
     'BIRTHDAY':  sqlalchemy.types.CHAR(length=10),
     'MANAGERID':  sqlalchemy.types.Integer,
     'NUMBERFIELD1':  sqlalchemy.types.FLOAT(length=126),
     'DACTYLOGRAM': sqlalchemy.types.VARCHAR(length=4000)
     }
df1=bpm_Op.append('hrmtest1',df.loc[df.id>0,['id','loginid','lastname','sex','birthday','managerid','numberfield1','dactylogram']].head(5),dtype)

D:\Program Files (x86)\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SADeprecationWarning: Additional keyword arguments passed to Float ignored.
  import sys

In [19]:
df1.head(3)

,id,loginid,lastname,sex,birthday,managerid,numberfield1,dactylogram
0,1902,zhiyu.yan,闫志宇,0,1983-01-30,3589.0,0.0,None
1,1944,hongyu.li,李宏宇,0,1988-06-04,3589.0,0.0,None
2,1988,None,彭刚,0,1972-11-02,3589.0,NaN,None